#title{
    padding-left: 50px;
}
#color-palette, #pixel-board {
    margin-left: 50px;
    margin-top: 20px;
}
.color{
    width:  40px;
    height: 40px;
    border: 1px solid black ;
    display: inline-block;
}

.line{
    height: 40px;
} 
.pixel{
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
    border: 1px solid black ;
}

#clear-board{
    margin-left: 50px;
    margin-top: 10px;
}
#board-size{
    margin-right: 10px;
    margin-top: 10px;
}
